{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'movie.css' %}" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: azure"
    >
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link">{{request.user}}</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </nav>
    <div class="card">
      <img src="{% static movie.img%}" alt="" />
      <h3>{{movie.title}}</h3>
      <p>{{movie.rating}}/10</p>
    </div>
    <div class="desc">
      <p>{{movie.description}}</p>
    </div>
    <div class="reviews">
      <form action="#" method="POST">
        {% csrf_token %} {{form.as_p}}
        <button type="submit">Submit</button>
      </form>
      <div class="review-box" style="overflow: scroll">
        {% for i in reviews %}
        <div>
          <textarea class="reviews-data" name="abc" id="" cols="30" rows="10">
                {{i.review}}
                
                           ----{{i.reviewer}}
            </textarea
          >
        </div>

        {% if i.review_type %}
        <b>Review:Good</b>
        {% else %}
        <b>Review:Bad</b>
        {% endif %} {% endfor %}
      </div>
    </div>
  </body>
</html>
